package main

templ Demo() {
    <div>new 1</div>
    <div id="target2" hx-swap-oob="true">new 2</div>
    <div id="target2" hx-swap-oob="afterend">
        <div>after 2</div>
    </div>
    <div hx-swap-oob="innerHTML:#target3">new 3</div>
}